.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: -3rem;
  margin-bottom: 13rem;
  margin-left: -3rem;

  padding-top: 3rem;
}
/* côté gauche */
.quoi {
  display: flex;
  flex-direction: column;
  position: relative;
  /* gap: 20px; */
}
.quoi > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.quoi > :nth-child(2) {
  color: var(--pink);
  font-size: 2.5rem;
  font-weight: bold;
}
.quoi > :nth-child(3) {
  color: var(--gray);
  font-size: 17px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
}
.cards1 {
  position: relative;
  margin-top: 5rem;

  margin-left: -10rem;
}
.cards1 > * {
  position: absolute;
  /* margin-top: 5rem;
  margin-right: 10rem; */
}

/* fond flou */
.s-blur2 {
  left: 46rem;
  top: 50rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
  border: solid 2px green;
}
@media screen and (min-width: 992px) {
  .cards1 {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    margin-left: 3px;
    margin-top: 2rem;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards1 {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards1 > * {
    position: static;
  }
}
