.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.nleft {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.nright {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.nlist {
  flex: 10;
}
.nlist > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}
.nlist ul :hover {
  cursor: pointer;
  color: var(--pink);
}
.n-button {
  flex: 2;
}
@media screen and (max-width: 480px) {
  .nlist {
    display: none;
  }
}
