.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

/*  */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
}

/* 1 er enfant de la div  */
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  color: var(--pink);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: 17px;
  color: var(--gray);
  margin-top: 10px;
}
.i-button {
  width: 7rem;
  height: 3rem;
}

.i_icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
/* *pour pointer chaque icons */
.i_icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* côté droit */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.79);
  left: -12%;
  top: -5%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
}
.i-right > :nth-child(3) {
  transform: scale(0.3);
  top: -135%;
  left: -68%;
}

.i-right > :nth-child(4) {
  transform: scale(O.2);
  top: -19%;
  left: -24%;
  border-radius: 50%;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
@media screen and (min-width: 1460px) {
  .i-right {
    margin-top: 2rem;
    flex: 1;
    position: relative;
  }
  .i-right > * {
    position: absolute;
    z-index: 1;
  }
  /* rose */
  .i-right > :nth-child(1) {
    transform: scale(0.79);
    left: -15%;
    top: -9%;
  }
  /* jaune */
  .i-right > :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
  }
  /* photo */
  .i-right > :nth-child(3) {
    transform: scale(0.3);
    top: -120%;
    left: -39%;
  }
  /* semoti */
  .i-right > :nth-child(4) {
    transform: scale(O.2);
    top: -10%;
    left: -34%;
    border-radius: 50%;
  }

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -15%;
    left: 46%;
    filter: blur(72px);
  }
}
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .intro {
    flex-direction: column;
    gap: 5rem;
    height: 64rem;
    max-width: 100%;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  /* .i-right > :nth-child(1) {
    margin-top: 10rem;
  } */

  .i-right > :nth-child(3) {
    left: -22rem;
  }

  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1) {
    /* display: none; */
    top: -1rem !important;
  }
}
